# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/
env/

# ==========================================
# ROS 2
# ==========================================

build/
install/
log/

# ==========================================
# PX4
# ==========================================

PX4-Autopilot/

# ==========================================
# PX4 / Flight Logs
# ==========================================

*.ulg
*.log

# ==========================================
# Gazebo
# ==========================================

.gazebo/
gz/
*.db

# ==========================================
# YOLO
# ==========================================

*.pt
runs/
weights/

# ==========================================
# Temporary / Debug Images
# ==========================================

bus.jpg
debug_camera.jpg

# ==========================================
# OS / Editors
# ==========================================

.DS_Store
Thumbs.db
.vscode/
.idea/

# ==========================================
# Temporary files
# ==========================================

*.swp
*.swo
*~
